{% extends 'shop/layouts/main.html'%}
{% block title %}
Nature | online shoping
{% endblock title %}
{% block content %}
<section class="bg-light py-4 my-5" style="min-height:600px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="fw-light">{{category__name}} Products</h4>
                <hr style="border-color: #b8bfc2;">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active">{{category__name}} collections</li>
                    </ol>
                </nav>
                {% include 'shop/inc/message.html' %}
            </div>
            {% for item in products %}
            <div class="col-md-4 col-lg-3">
                <div class="card my-3">
                    <img src="{{item.product_image.url}}" class="card-image-top" alt="catagories" style="height: 40vh; object-fit: cover;">
                    <a href="{% url 'product_details' category__name item.name %}">
                    <div class="card-body" style="height:130px;">
                        <h5 class="card-title text-primary" >{{item.name}}</h5>
                        <p class="card-text">
                            <span class="float-start old_price"  style="font-weight: bold; color: red;"><s>Rs.{{item.original_prince | stringformat:'d'}}</s></span>
                            <span class="float-end new_price" style="font-weight: bold; background-color: green;color: white;padding:2px;border-radius: 2px;">Rs. {{item.selling_price | stringformat:'d'}}</span>
                        </p>
                    </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}